.login-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.login-form-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: -7px 500px 24px 0px;
    padding: 30px 0px 0px;
    color: #333;
    display: block;
    text-align: center;
}

#signin-button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #ef6c00;
    color: #fff;
    border: 1.6px solid #ef6c00;
    font-weight: 600;
    height: 45px;
    width: 120px;
    border-radius: 4px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#signin-button:hover {
    background-color: rgb(155, 89, 9);
    border-color: rgb(155, 89, 9);
    cursor: pointer;
}

.login-form {
    background: #fcfcfc;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #ccc;
    padding: 35px 50px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.login-info input{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 30px;
    width: 90%;
    margin: 5px;
    color: black;
    padding: 10px;
    box-shadow: none;
    border: 1px solid #999;
    outline: none;
    border-radius: 2px;
    transition: all .15s ease-out;
}

.login-info input:hover {
    border-color: orange;
    cursor: default;
}

.login-new-customer > h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #4caf50;
    font-size: 24px;
    margin: 5px 0px 5px;
}

.login-form > h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #4caf50;
    font-size: 24px;
    margin: 5px 0px 15px;
}

.login-new-customer {
    font-size: 14px;
    color: black;
    padding-left: 75px;
    width: 20%;
}

.login-new-customer a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #fff;
    color: #163977;
    border: 1px solid #163977;
    padding: 10px;
    width: 400px;
    height: 30px;
}

.login-new-customer a:hover {
    background-color: rgb(222, 231, 242);
}

.invalid-login-error {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f9e0e4;
    border: 1px solid #d0011b;
    border-radius: 6px;
    width: 715px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
}