.footer-container {
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.footer-container p {
    color: #666666;
    font-size: 12px;
}