.SplashPage {
    display: flex;
    flex-direction: column;
}

.SplashPage h1 {
    font-family: 'Poppins';
    font-size: 20px;
}

#carousel {
    height: 10vw;
    width: 10vw;
}

#carousel img {
    object-fit: cover;
    height: 10%;
    width: 10%;
}