.product-show-page {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product-show-info h1 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
}

#product-show-img {
    height: 300px;
    width: 200px;
    margin-right: 100px;
    padding: 20px;
}

.product-show-info {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    margin-left: 50px;
}

#category {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1c49c2;
    margin: 20px 0 10px 100px;
}

.show-divider {
    background-color: #EEEEEE;
    border: none;
    height: 5px;
    margin: 20px;
}

#price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #bc2848;
    font-weight: 550;
}

.quantity-dropdown {
    padding: 10px;
    border-color: gray;
    border-radius: 7px;
}

.quantity-dropdown:hover {
    cursor: pointer;
    border-color: #1c49c2;
}

.add-to-cart-from-show {
    font-family: 'Poppins';
    background-color: #ef6c00;
    color: #fff;
    border: 1.6px solid #ef6c00;
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
    padding: 10px;
}

.add-to-cart-from-show:hover {
    cursor: pointer;
    background-color: #ef8126;
}

.dropdown-buttons-container-show {
    display: flex;
    flex-direction: column;
    border: 2px solid #EEEEEE;
    border-radius: 7px;
    padding: 20px;
    height: 130px;
    width: 250px;
    margin-left: 40px;
}

.product-show-info button {
    background-color: white;
    color: #1c49c2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: 1px solid rgb(222, 234, 248);
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
}

.product-show-info button:hover {
    background-color: rgb(222, 234, 248);
    cursor: pointer;
}

.flavors button:focus {
    background-color: rgb(222, 234, 248);
    border: 2px solid  #1c49c2;;
}

.sizes button:focus {
    background-color: rgb(222, 234, 248);
    border: 2px solid  #1c49c2;;
}

.flavors {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.sizes {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.product-show-details h2 {
    font-family: 'Poppins';
    font-size: 18px;
    margin: 10px;
    font-weight: 700;
}

.product-show-details p {
    color: #4d4d4d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 10px;
}