.product-show-page {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product-show-info h1 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
}

#product-show-img {
    height: 300px;
    width: 200px;
    margin-right: 100px;
    padding: 20px;
    object-fit: contain;
}

.product-show-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 400px;
    margin-left: 50px;
}

#category {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1c49c2;
    margin: 20px 0 10px 100px;
}

.show-divider {
    background-color: #EEEEEE;
    border: none;
    height: 5px;
    margin: 20px;
}

#price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #bc2848;
    font-weight: 550;
}

.add-to-cart-from-show {
    font-family: 'Poppins';
    background-color: #ef6c00;
    color: #fff;
    border: 1.6px solid #ef6c00;
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
    padding: 10px;
}

.add-to-cart-from-show:hover {
    cursor: pointer;
    background-color: #ef8126;
}

.dropdown-buttons-container-show {
    display: flex;
    flex-direction: column;
    border: 2px solid #EEEEEE;
    border-radius: 7px;
    padding: 15px;
    height: 150px;
    width: 260px;
    margin-left: 40px; 
}

.inner-dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-dropdown-container p {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: 700;
}

.dropdown-buttons-container-show fieldset {
    font-size: 10px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 20px;
    height: 50px;
    width: 75px;
}

.quantity-dropdown {
    border: none;
    padding: 5px;
    width: 100%;
}

.quantity-dropdown:hover {
    cursor: pointer;
}

.dropdown-buttons-container-show fieldset:hover {
    border-color: #1c49c2;
}

.dropdown-buttons-container-show fieldset:focus {
    border: 2px solid #1c49c2;
    color: #1c49c2;
}

.quantity-dropdown:hover, .quantity-dropdown:focus {
    outline: none;
}

.product-show-info button {
    background-color: white;
    color: #1c49c2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: 1px solid rgb(222, 234, 248);
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
}

.product-show-info button:hover {
    background-color: rgb(222, 234, 248);
    cursor: pointer;
}


.flavors button.selected, .sizes button.selected, .colors button.selected {
    background-color: rgb(222, 234, 248);
    border: 2px solid  #1c49c2;
}


.flavors p, .sizes p, .colors p {
    color: #4d4d4d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 100%;
}

.sizes, .flavors, .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-show-details h2 {
    font-family: 'Poppins';
    font-size: 18px;
    margin: auto;
    font-weight: 700;
    padding: 50px;
}

.product-show-details p {
    color: #4d4d4d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: auto;
    padding: 0 50px 0 50px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    padding: 50px;
}

.reviews h1 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
}

.reviews a {
    text-decoration: none;
    width: fit-content;
}

#review-link:hover {
    text-decoration: underline;
}

.review-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    margin: auto;
}

#review {
    border: 1px solid #eee;
    width: 75%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.review-buttons button, .review-buttons a {
    color: white;
    background-color: rgb(36, 76, 187);
    border: none;
    text-decoration: none;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

.review-buttons button:hover, .review-buttons a:hover {
    background-color: rgb(47, 92, 184);
}


.review-list p {
    font-family: 'Poppins';
    color: #4d4d4d;
    font-size: 12px;
    padding: 5px;
}

.review-list h3 {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
}

#review-body {
    font-family: 'Poppins';
    font-size: 14px;
    color: black;
    padding: 5px;
}